*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

h1 {
    text-align: center;
    color: white;
    font-size:35px;
    display: inline;
    float: right;
    margin-top: 20px;
    padding-right: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
     }
                   

h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 70px;
    margin-top: 50px;
    padding: 20px 40px 40px 40px;
    margin-bottom: 30px;
    font-weight: 130;
    color: #707070; }

.banner {
    width: 100%;
    height:100px;
    background-color: #1687a7;
    }

#globe {
    text-align: center;
    display: flex;
    direction: row;
                                                                                                                                                                                                
}

/* NAVIGATION STYLING*/

.main-nav {
    display: inline-flexbox;
    float: left;
    width: 300px;
    background-color: #1687A7;
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    position: absolute;
    }


.main-nav a {
        display: block;
        padding: 10px 0px 10px 20px;
        text-transform: uppercase;
        letter-spacing: .2em;
        color: #fff;
        border-bottom: 1px dotted gray;
        }

.main-nav a:hover {
    background: #014955;
}

.main-nav-ul ul { 
    display: none;
    }

.main-nav-ul li:hover ul {
    display: block;
}

.main-nav-ul ul a::before {
content: '\203A';
margin-right: 20px;
}

.main-nav .sub-arrow:after {
    content: '\203A';
    float: right;
    margin-right: 20px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.main-nav li:hover .sub-arrow:after {
    content:'\2039';


}


.bars {
        width: 90vw;
        height: 45px;
        margin-top: 10px;
        margin-left: 52px;
         /*display: flex;
        flex-direction: row;*/
        display: flex; /* This made the boxes side by side*/
           }

.text {
    width: 200px;
    word-wrap: break-word;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
    color: black;
    font-weight: 600;
    margin-top: 30px;
}

.images {
display: flex;
  
}

.calenImg {
    margin-left:18%; 
    filter: drop-shadow(2px 2px 2px #8E8F8F);
    }

.quizzImg {
    margin-left: 25%;
    display: flexbox;
    
}

.assignImg {
    margin-left: 23%;
    filter: drop-shadow(2px 2px 2px #8E8F8F
    );
}

.assignments {
    background-color:  #F0103E;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: inline;
    font-size: 30px;
    padding-top: 2px;
  }

.assignments:hover {
      background-color: #ff5050; }

.quizzes {
    background-color: #F0103E;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: inline;
    font-size: 30px;
    padding-top: 2px;
    
}

.quizzes:hover {
    background-color: #ff5050;
}
.calendar {
    background-color:   #F0103E;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: inline;
    font-size: 30px;
    padding-top: 2px;
}

.calendar:hover {
    background-color: #ff5050;
}

footer {
    background-color: #014955;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    margin-top: 15px;
    text-decoration: none;

    
}

 .assignments > a {
    color: white;
    font-family: 'Quicksand', sans-serif;
}