 * {
     padding:0px;
     margin: 0px;
     box-sizing: border-box
     text-decoration: none;
 }

.square {
    height: 80px;
    width: 80px;
    font-size: 50px;
    text-align: center;
}

body {
    margin: auto;
    width: 550px;
    font-family: 'Segoe UI';
        background-color: #eaeaea;
}

h1 {
    border-bottom: 1px solid black;
    font-family: 'Segoe UI';
}

#message {
    font-size: 18pt;
    font-family: 'Segoe UI';
}